@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla:wght@400;500;700&display=swap");
.container-details {
  padding: 215px 0px 116px;
  background-image: url("../img/bg-detail.jpg");
}
.details {
  margin: 0 auto;
  max-width: 600px;
}
.card-details {
  background-color: #fff;
  position: relative;
  width: 100%;
  border-radius: 45px 45px 0px 0px;
}
.details-body p {
  margin: 0 23px;
  font-size: 1.063rem;
}
.btn-home {
  text-align: center;
  background-color: #2c0187;
  width: 100%;
  border-radius: 0px 0px 45px 45px;
  padding: 31px 0;
}
.btn-home a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #fff;
}
.details-icons {
  display: flex;
  justify-content: center;
}
.details-icons img {
  margin: 16px;
}
p span,
p i {
  color: #2c0187;
}
.details-title {
  text-align: center;
  text-decoration: underline;
  color: #2c0187;
  font-size: 2rem;
  padding: 71px 0 10px;
}
.profile {
  top: -100px;
  max-width: 159px;
}
.heart {
  top: 52px;
  left: 32px;
}
